<h1>NombreClinica</h1>

<header class="header">
    <div class="container logo-nav-container">
        <a href="#" class="logo">Logo</a>
        <nav class="navigation">
            <ul>
                <li>
                    <!--<a [routerLink]="['/home']" [routerLinkActive]="['actived']">Home</a>-->
                    <a>Home</a>
                </li>
                <li>
                    <!--<a [routerLink]="['/servicios']" [routerLinkActive]="['actived']">Servicios</a>-->
                    <a>Servicios</a>
                </li>
                <li>
                    <a [routerLink]="['/agenda-hora']" [routerLinkActive]="['actived']">Agenda Hora</a>
                    

                </li>
                <li>
                    <!--<a [routerLink]="['/registro']" [routerLinkActive]="['actived']">Registro</a>-->
                    <a>Registro</a>

                </li>
                <li>
                    <!--<a [routerLink]="['/login']" [routerLinkActive]="['actived']">Login</a>-->
                    <a>Login</a>

                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="content">
    <div class="container">
       <router-outlet></router-outlet>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/assets/img/dental.png" style="height: 60px; width: 60px; margin-left: auto;
                margin-right: auto; margin-top: 15px;" alt="" class="card-img-top">
                    <h3>Satisfaccion Garantizada</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/assets/img/dental.png" style="height: 60px; width: 60px; margin-left: auto;
                margin-right: auto; margin-top: 15px;" alt="" class="card-img-top">
                    <h3>Tecnologia de punta</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/assets/img/dental.png" style="height: 60px; width: 60px; margin-left: auto;
                margin-right: auto; margin-top: 15px;" alt="" class="card-img-top">
                    <h3>Expertos Dentales</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col">
                <h3>Nuestro Equipo</h3>
                <h2>Una Clinica en la que puedes confiar.</h2>
                <p>Contamos con una amplia gama de tratamientos dentales y
                    Contamos con una amplia gama de tratamientos dentales y especialidades odontológicas, para un diagnóstico y tratamiento de calidad para ti y toda tu familia.
                    Contamos con una amplia gama de tratamientos dentales y especialidades odontológicas, para un diagnóstico y tratamiento de calidad para ti y toda tu familia.
                    Contamos con una amplia gama de tratamientos dentales y especialidades odontológicas, para un diagnóstico y tratamiento de calidad para ti y toda tu familia. especialidades odontológicas, para un diagnóstico y tratamiento de calidad para ti y toda tu familia.</p>
            </div>
            <div class="col">
                <h3>aqui poner datos</h3>

            </div>
   
        </div>
    </div>

</section>

<section class="content">
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col">
                <h3>Nuestro Equipo</h3>
                <h2>Una Clinica en la que puedes confiar.</h2>
                <p>Contamos con una amplia gama de tratamientos dentales y especialidades odontológicas, para un diagnóstico y tratamiento de calidad para ti y toda tu familia.</p>
            </div>
            <div class="col">
                <h3>aqui poner datos</h3>

            </div>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        Desarrollado por Diego Castro &copy;
    </div>
</footer>